.sidebar {
	width: 100px;
	background-color: #303456;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dashboard-area {
	display: flex;
}
.main-content {
	flex-grow: 1;
}
.main-content {
	background-color: #eeeff3;
}
.user-info-list {
	position: absolute;
	top: 90%;
	left: -100%;
	padding: 20px;
	list-style: none;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
	transition: all ease-in 0.5s;
}
.user-info-list.hide {
	opacity: 0;
	pointer-events: none;
	transition: all ease-out 0.5s;
}
.user-info-list li {
	margin-bottom: 15px;
}
.user-info {
	position: relative;
}
.p-navbar {
	padding-right: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 70px;
	background-color: white;
}
.sidebar-link {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 20px;
	border-radius: 10px;
	width: 80px;
	height: 60px;
}
.sidebar-link.active {
	background-color: #ea5179;
}
.sidebar-link h6 {
	margin: 0;
	font-size: 11px;
}
.sidebar a {
	color: white;
	text-decoration: none;
}
