.c-button {
	background: linear-gradient(
		45deg,
		rgba(234, 81, 121, 1) 0%,
		rgba(172, 54, 115, 1) 100%
	);
	box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
	border-radius: 25px !important;
}
.c-button-lg {
	width: 350px;
}
.c-button-sm {
	width: 100px;
}
.c-rounded {
	border-radius: 25px !important;
	background-color: #ecf0ef;
	border: none !important;
}
.c-search-box:before {
	border-bottom: none;
}
